.manufacture
	padding-bottom: 40px
	text-align: center
	&__text
		&-title
			color: $active-color
			font-family: $heuristica-bold
			font-size: 36px
			line-height: 48px
			margin-bottom: 30px
		&-subtitle
			color: $text-color-dark
			font-family: $montserrat-medium
			font-size: 24px
			line-height: 36px
			margin-bottom: 67px
	&__image
		img
			max-width: 100% 