
@media (max-width: 1199px) 
	.header
		padding-top: 20px
		padding-bottom: 20px
		&__text
			&-title
				font-size: 24px
			&-subtitle
				font-size: 13px
		&__download
			&-text
				font-size: 14px
				&::after
					height: 7px
		&__call
			&-tel
				a
					font-size: 20px
			&-action
				font-size: 14px
	.main
		&__title
			padding-bottom: 25px
			&::before
				width: 900px
			h1
				font-size: 35px
		&__subtitle
			margin-bottom: 0
			margin-top: 20px
			h3
				font-size: 22px
		&__button
			width: 250px
			height: 50px
			&s
				margin-bottom: 0
				margin-top: 20px
			padding: 15px 18px
			margin-bottom: 20px
			&-1
				margin-right: 15px
		&__list
			&-item
				font-size: 16px
				line-height: 22px
				margin-top: -4px
				margin-bottom: 8px
		&__image
			&_bg
				right: -7%
				bottom: -7%
	.backlight
		&__text
			&-title
				h2
					font-size: 34px
		&__advantages
			p
				width: 400px
				font-size: 18px
		&__list
			width: 400px
			&-item
				font-size: 16px
		&__slider
			&-line
				&_bottom
					display: none		
			&-description
				p
					font-size: 14px		
	.advantages
		padding-top: 120px
		padding-bottom: 100px
		&__list
			&-title
				font-size: 20px
			&-item
				font-size: 17px
		&__text
			&-title
				width: 390px
				h2
					font-size: 28px
	.safety
		&__list
			&-item
				font-size: 16px
				width: 355px
		&__text
			&-title
				width: 390px
				h2
					font-size: 30px
			&-subtitle
				width: 380px
	.assortment
		padding-top: 100px
		padding-bottom: 100px
		&__text
			&-description
				width: 410px
		&__image
			&-text
				p
					font-size: 12px
				span
					font-size: 16px
		&__button
			display: inline-block
			max-width: 171px
			padding: 11px
			font-size: 13px
			&s
					
	.delivery
		&__title
			h2
				font-size: 31px
		&__list
			&-item
				font-size: 20px
	.comfort
		padding-top: 90px
		padding-bottom: 120px
		&__item
			&-text
				p
					font-size: 12px
	.catalog
		&__text
			&-title
				h2
					font-size: 28px
		&__form
			&-input
				width: 57%
		&__checkbox
			&-text
				font-size: 13px
	.change
		&__image
			&-after
				&::after
					font-size: 25px
			&-before
				&::before
					font-size: 25px
		&__button
			width: 86%
	.prepared
		&__text
			&-title
				h2
					font-size: 26px
	.backlight
		&-arrow
			&_up
				bottom: 14%
	.completed
		&-arrow
			&_up
				bottom: 11%
	.communication
		&__form
			h3
				font-size: 27px
				max-width: 95%
				margin-left: auto
				margin-right: auto
			h4
				font-size: 17px
				max-width: 95%
				margin-left: auto
				margin-right: auto
				margin-bottom: 10px
			input
				margin-right: 5px
				width: 31%
			button
				margin-top: 10px
				width: 31%
				font-size: 15px
		&__list
			&-item
				font-size: 17px 
		&__request
			&-bg
				top: 30%
	.discount
		padding-top: 150px
		&__form
			h3
				max-width: 95%
				margin-left: auto
				margin-right: auto
				fs27
			h4
				max-width: 95%
				margin-left: auto
				margin-right: auto
			input 
				margin-right: 5px
				width: 32%
			button
				margin-top: 10px
				width: 31%
				padding: 11px 15px
				font-size: 16px
		&__list
			&-item
				font-size: 17px
	.calculation
		padding-top: 130px
		&__text
			&-title
				h2
					font-size: 28px
					line-height: 40px
			&-description
				font-size: 18px
		&__button
			width: 100%
		&__list
			&-item
				font-size: 16px
	.cooperation
		&__item
			span
				font-size: 14px
		&__list
			&-item 
				font-size: 16px
				margin-bottom: 15px
		&__form
			h3
				font-size: 27px
				max-width: 95%
				margin-left: auto
				margin-right: auto
			h4
				font-size: 17px
				max-width: 95%
				margin-left: auto
				margin-right: auto
				margin-bottom: 10px
			input
				margin-right: 5px
				width: 30%
				font-size: 16px
			button 
				width: 32%
				margin-top: 10px
				font-size: 16px
	.footer
		&__address
			font-size: 16px
		&__schedule
			font-size: 16px
		&__tel
			font-size: 16px				
@media (max-width: 991px)
	.header
		padding-top: 0
		&__download
			&-text
				font-size: 16px
				&::after
					height: 10px
					bottom: 0
		&__text
			margin-top: 20px
			&-title
				font-size: 20px
				line-height: 26px
				margin-bottom: 0
			&-subtitle
				font-size: 12px
	.main
		padding-bottom: 80px
		&__title
			&::before
				content: ''
				position: absolute
				background-color: rgba(161, 209, 209, 0.2)
				width: 700px
				height: 100%
				top: 0
				left: -200px
			h1
				font-size: 25px
		&__subtitle

			&_important
				color: #c3994f
				&::after
					display: none
			h3
				font-size: 17px
		&__button
			height: unset
			width: 180px
			padding-top: 10px
			padding-bottom: 10px
			&s
				margin-left: 0
				margin-right: 0
				width: unset
				font-size: 12px	
			&-text
				font-size: 16px
		&__list
			&-item
				font-size: 16px
				line-height: 20px 
		&__image
			&_bg
				display: none
			img
				max-width: 113%
				margin-left: -32px
		&__line
			&_bottom
				left: -47px
			&_left
				left: -47px
				height: 20%
	.backlight
		padding: 20px 0 42px
		&__text
			margin-bottom: 54px
			&-title
				h2
					font-size: 22px
				font-size: 22px
				line-height: 29px
				margin-bottom: 4px
			&-subtitle
				font-size: 18px
				line-height: 27px
		&__slider
			&-description
				display: none
			&-line
				&_bottom
					display: block
					bottom: -7%
					width: 70%
					left: 2px
				&_left
					display: none
				&_top
					width: 70%
					top: -20px
					right: 2px
		&__list
			width: unset 
			&-item
				font-size: 14px
				line-height: 18px
				margin-top: 6px
				width: 285px
				padding-left: 2px
				&-1
					&::before
						top: 50%
				&-2
					&::before
						top: 30%
				&-3
					&::before
						top: 30%
		&-arrow
			&_up
				bottom: 20%
		&__advantages
			p
				display: none
			h2
				font-size: 20px
				margin-bottom: 10px
				line-height: 130%
			&-list
				line-height: 130%
				span
					margin-bottom: 14px
					display: block
		&__text
			&_important
				color: $text-color-dark 
				font-size: 20px
			&_hidden
				display: inline
				color: $active-color 
	.advantages
		padding-top: 100px
		padding-bottom: 80px
		&__text
			&-title
				margin-bottom: 7px
				h2
					font-size: 20px
					line-height: 26px
		&__list
			padding-left: 20px
			&-title
				font-size: 16px
				line-height: 20px
				margin-bottom: 10px
				font-family: $montserrat-medium 
			&-item
				font-size: 15px
				line-height: 19px
				padding-bottom: 0
				margin-bottom: 4px
				&::before
					left: -20px
				
		&__line
			&_top
				left: 72%
				width: 260px
				top: -20px
			&_left
				left: -20px
				height: 50%
	.safety
		padding-top: 40px
		padding-bottom: 20px
		&__text
			&-title
				margin-bottom: 0
				width: 300px
				h2
					font-size: 20px
			&-subtitle
				font-size: 18px
				line-height: 23px
				margin-bottom: 18px
				width: unset 
		&__list
			&-title
				font-size: 16px
				line-height: 24px
				margin-bottom: 11px
			&-item
				font-size: 15px
				line-height: 19px
				margin-bottom: 8px
				width: 250px
	.assortment
		padding-top: 80px
		padding-bottom: 80px
		&__text
			&-title
				text-align: center
				h2
					font-size: 26px
			&-description
				text-align: center
				font-size: 16px
				max-width: 370px
				margin-left: auto
				margin-right: auto
				margin-top: 40px
				line-height: 22px
				margin-bottom: 0
		&__button
			padding: 10px
			&s
				margin-left: auto
				margin-right: auto 
			&-2
				margin-right: 0
		&__image
			&-text
				p
					font-size: 14px
					span
						font-size: 16px
	.manufacture
		&__text
			&-title
				width: 500px
				margin-left: auto
				margin-right: auto
				margin-bottom: 12px
				h2
					font-size: 22px
					color: $text-color-dark
					line-height: 28px
			&-subtitle
				margin-bottom: 40px
				h3
					font-size: 16px
					line-height: 20px
					color: $active-color
					font-family: $montserrat-regular
					span
						font-family: $montserrat-semibold 
	.delivery
		padding-top: 20px
		padding-bottom: 10px
		&__title
			margin-left: 0
			h2
				font-size: 22px
				line-height: 28px
		&__list
			width: 380px
			padding-left: 0
			&-item
				font-size: 16px
				line-height: 24px
				margin-bottom: 10px
				&::before
					border: none 
					background: #e3f1f1 url('../img/manufacture/mark-manufacture_media.svg') center no-repeat
					left: -30px
					top: 45%
	.comfort
		padding-top: 80px
		padding-bottom: 80px 
		&__line
			&_left
				display: none
			&_bottom
				width: 25%
				left: 75%
				right: 0
				bottom: -20px
				height: 1px
		&__image
			position: relative
			&-text
				&_bottom
					position: absolute
					bottom: -45px
					font-size: 16px
					line-height: 24px
					color: #212121
					font-family: $montserrat-regular
				&_important
					color: $active-color 
					font-family: $montserrat-medium
		&__title
			h2
				font-size: 22px
				text-align: center
	.catalog
		padding-top: 0
		padding-bottom: 10px
		&__text
			&-title
				margin-top: 30px
				h2
					font-size: 22px
					line-height: 28px
					margin-bottom: 10px
			&-description
				font-size: 18px
				line-height: 23px
		&__form
			margin-top: 14px
			&-select
				font-size: 14px
				padding-top: 9px
				padding-bottom: 9px
				padding-left: 9px
			&-input
				font-size: 16px
				line-height: 24px
				padding-bottom: 7px
			&-button
				margin-top: 10px
				margin-bottom: 5px
				font-size: 16px
				line-height: 20px
		&__checkbox
			&-text
				font-size: 10px
				line-height: 13px
		&__image
			img
				max-width: 430px 
				margin-left: -75px
				transform: rotate(5deg)
				margin-top: 0
	.prepared
		padding-top: 135px
		padding-bottom: 80px
		&__text
			&-title
				h2
					font-size: 22px
					line-height: 28px
			&-description
				font-size: 18px
				line-height: 23px
		&__line
			&_top
				left: 55%
				top: -20px
			&_left
				left: -10px
				height: 60%
	.change
		padding-bottom: 0
		background-color: #FFF 
		img
			width: 400px
		&__line
			&_top
				display: none
			&_right
				display: none
			&_bottom
				display: none
		&__text
			&-title
				margin-bottom: 30px
				h2
					font-size: 22px
					text-align: center
					line-height: 130%
			&-description
				font-size: 18px
				line-height: 23px
				margin-bottom: 0
		&__image
			&-before
				&::before
					position: absolute
					bottom: 10px
					left: 0
					top: 518px 
					color: $text-color-light
					background-color: rgba(81, 121, 121, 0.8)
					width: 50px
					height: 50px
					padding: 6px
					z-index: 1
			&-after
				&::after
					position: absolute
					bottom: 10px
					left: 0
					top: 518px 
					color: $text-color-light
					background-color: rgba(81, 121, 121, 0.8)
					width: 95px
					height: 50px
					padding: 6px
		&__button
			margin-left: auto
			margin-right: auto
			margin-top: 40px
			padding: 15px 26px
			font-size: 16px
			line-height: 16px
	.completed
		padding-top: 80px
		padding-bottom: 80px
		&__text
			&-title
				margin-bottom: 10px
				h2
					font-size: 22px
					line-height: 28px
			&-subtitle
				margin-bottom: 40px
				h3
					font-size: 20px
					line-height: 30px
		&__line
			&_top
				width: 90%
				top: -20px
				left: -20px
			&_left
				left: -20px
				top: -20px
			&_right
				right: -20px
				top: 75% 
		&-arrow
			&_up
				background: transparent url('../img/slider/slider-arrow-left_media.png') center no-repeat
				border: none
				right: 103%
				bottom: 40%
				&:hover
					background: transparent url('../img/slider/slider-arrow-left_media.png') center no-repeat
			&_down
				background: transparent url('../img/slider/slider-arrow-right_media.png') center no-repeat
				border: none
				bottom: 40%
				right: -13%
				&:hover
					background: transparent url('../img/slider/slider-arrow-right_media.png') center no-repeat
	.communication
		&__text
			&-title
				text-align: center
				h2
					font-size: 22px
					line-height: 28px
		&__list
			margin-bottom: 30px
			&-title
				text-align: center
				font-size: 18px
				font-family: $montserrat-medium 
				line-height: 23px
			&-item
				font-size: 16px
				line-height: 20px
				&::before
					top: 55%
					width: 10px
					height: 10px
					left: -30px
		&__form
			box-shadow: 0 0 30px #eceff1
			background-color: #eceff1
			h3
				color: #212121
				font-family: $montserrat-semibold
				font-size: 20px
				line-height: 26px
				margin-bottom: 10px
			h4
				font-size: 18px
				line-height: 23px
				margin-bottom: 20px
			button
				width: 30%
				font-size: 16px
				line-height: 20px
			input
				border: none
				font-size: 16px
				line-height: 24px
	.discount
		padding-top: 80px
		&__text
			&-title
				margin-left: 0
				text-align: left
				font-size: 22px
				line-height: 28px
				margin-bottom: 20px
		&__list
			&-title
				font-size: 18px
				line-height: 23px
				margin-bottom: 14px
			&-item
				font-size: 16px
				line-height: 20px
				margin-bottom: 10px
		&__getting
			img
				left: 47%
				bottom: 100%
				max-width: 350px
		&__form
			h3
				font-size: 20px
				line-height: 26px
			h4
				font-size: 18px
				line-height: 23px
			input
				margin-right: 2px
				width: 30%
			button
				width: 33%
				font-size: 16px
				line-height: 20px
				padding: 12px 6px
	.calculation
		padding-top: 80px
		&__text
			&-title
				margin-bottom: 10px
				h2
					font-size: 22px
					line-height: 28px	
			&-description
				font-size: 18px
				line-height: 23px
		&__button
			width: 98%
			padding-top: 12px
			padding-bottom: 12px
	.cooperation
		padding-top: 80px
		padding-bottom: 70px
		&__text
			&-title
				margin-bottom: 30px
				h2
					font-size: 22px
					line-height: 28px
			&-description
				font-size: 18px
				line-height: 23px
				margin-bottom: 10px
		&__list
			&-title
				font-size: 16px
				line-height: 20px
				margin-bottom: 16px
			&-item
				font-size: 14px
				line-height: 18px
				margin-bottom: 7px
				margin-left: -20px
				&::before
					width: 10px
					height: 10px
					top: 60%
					left: -19px
				&::after
					display: none
		&__slider
			&-line
				&_top
					display: none
		&-arrow
			&_up
				bottom: 22%
		&__form
			h3
				font-size: 20px
				line-height: 26px
			h4
				font-size: 18px
				line-height: 23px
			input
				margin-right: 2px
			button
				width: 33%
				font-size: 16px
	.contact
		&__block
			&-address
				left: 10%
				top: 10%
				h4
					font-size: 18px
					font-family: $heuristica-bold
		&__address
			span
				font-size: 16px
			p
				font-size: 14px
		&__time
			span
				font-size: 16px
			p
				font-size: 14px
		&__tel
			a
				font-size: 14px
		&__mail
			a
				font-size: 14px
	.footer
		padding-top: 15px
		padding-bottom: 20px
		&__line
			width: 900px
		&__text
			margin-bottom: 10px
			&-title
				font-size: 18px
				line-height: 23px
			&-subtitle
				font-size: 12px
				line-height: 15px
		&__address
			font-size: 14px
			line-height: 28px
			span
				text-decoration: underline 
		&__schedule
			font-size: 14px
			line-height: 28px
			&_underline
				text-decoration: underline 
		&__tel
			span
				font-size: 12px
				line-height: 15px
			button
				font-size: 10px
				padding: 5px 9px
				margin-top: 4px
		&__social
			&-icons
				margin-bottom: 25px
				a
					margin-right: 7px
					img
						width: 16px
						height: 16px
	.modal
		&__form
			width: 650px
	.thanks
		&__content
			width: 650px
@media (max-width: 767px)
	.header
		background-color: #FFF 
		padding-bottom: 0
		padding-top: 20px
		&__text
			margin-top: 0
			&-title
				h2
					font-size: 14px
					line-height: 18px
			&-subtitle
				display: none
		&__call
			display: none
		&__icon
			&-media
				background-color: #4a9526
				width: 30px
				height: 30px
				padding: 8px
				img
					max-width: 100% 
		&__download
			&-text
				text-decoration: underline 	
				color: #c3994f
				font-family: $montserrat-regular 
				&::after
					display: none
	.main
		position: relative
		padding-bottom: 30px
		&__media
			background: #fff url('../img/main/bg-main_media.png') center no-repeat
			-webkit-background-size: cover 
			-o-background-size: cover 
			background-size: cover 
			z-index: 0
			// Осветление фона
			&::before
				content: ''
				display: block
				position: absolute
				width: 100%
				height: 100%
				left: 0
				top: 0
				background-color: rgba(255, 255, 255, 0.4)
				z-index: -1
		&__image
			display: none
		&__title
			text-align: center
			&::before
				display: none
			h1
				color: $title-color
				font-size: 20px
				line-height: 26px
			&_important
				color: $title-color
				position: relative
		&__subtitle
			width: 250px
			margin-left: auto
			margin-right: auto 
			h3
				text-align: center
				font-family: $montserrat-medium 
				font-size: 18px
				line-height: 23px 
				span
					color: $text-color-dark 
					&::after
						content: ''
						position: absolute
						background-color: #a1d1d1
						width: 100%
						height: 10px
						display: block
						z-index: -1 
						left: 0
						top: 13px 
			&::before
				display: none
		&__button
			min-width: 150px 
			font-size: 12px
			&-2
				display: none
			&-1
				display: block
				margin-left: auto
				margin-right: auto
				background-color: $active-color
			&s
				margin-top: 71px
		&__list
			display: none
	.backlight
		padding-top: 20px
		padding-bottom: 80px
		&__text
			margin-bottom: 10px
			&_important
				font-size: 16px
				font-family: $montserrat-italic 
			&-title
				margin-bottom: 10px
				width: 250px
				margin-left: auto
				margin-right: auto
				h2
					font-size: 20px
					margin-left: auto
					margin-right: auto
				&_important
					font-size: 20px
					display: block
			&-subtitle
				display: none
		&__slider
			min-width: 98% 
			width: 98%
			&-item
				img
					padding-left: 7px
			
			&-numbers
				left: 50%
				-webkit-transform: translateX(-50%) 
				-moz-transform: translateX(-50%) 
				-ms-transform: translateX(-50%) 
				-o-transform: translateX(-50%) 
				transform: translateX(-50%) 
				width: 35px
				height: 23px
				margin-top: 20px
				&-item
					font-size: 30px
					font-family: $heuristica-bold
					top: -2px
		&__list
			&-item
				width: unset 
				&-4
					width: 230px
					&::before
						top: 30%
				&-2
					&::before
						top: 50%	
				&-3
					&::before
						top: 50%
		&__advantages
			h2
				text-align: center
				font-family: $montserrat-italic
				font-size: 16px
				line-height: 25px
				
			&-list
				margin-top: 20px
				span
					font-size: 16px
					line-height: 24px
		&__list
			margin-top: 20px
			&-item
				font-size: 14px
				line-height: 18px
		&__slider
			&-line
				&_top
					display: none
				&_bottom
					display: none
				&_left
					display: none
		&-arrow
			&_up
				display: none
			&_down	
				display: none
		&-numbers
			&_left
				bottom: -20px
				left: -60px
				background: #fff url('../img/slider/slider-arrow-left_media.png') center no-repeat
				position: absolute
				width: 50px
				height: 50px
				z-index: 1
				border: 1px solid #c4c4c4
				&:hover
					background: $active-color url('../img/slider/slider-arrow-left_media.png') center no-repeat
			&_right
				bottom: -20px
				left: 42px
				background: #fff url('../img/slider/slider-arrow-right_media.png') center no-repeat
				position: absolute
				width: 50px
				height: 50px
				z-index: 1
				border: 1px solid #c4c4c4
				&:hover
					background: $active-color url('../img/slider/slider-arrow-right_media.png') center no-repeat
	.advantages
		padding-top: 60px
		padding-bottom: 60px
		&__text
			&-title
				width: 319px
				margin-left: auto
				margin-right: auto
				h2
					text-align: center
		&__list
			width: 320px
			&-title
				text-align: center
				color: $title-color
				font-family: $montserrat-italic
				margin-bottom: 20px
				width: 260px
				margin-left: auto
				margin-right: auto
			&-item
				font-size: 14px
				&-2
					&::before
						top: 30%
				&-4
					&::before
						top: 30%
		&__line
			&_top
				display: none
			&_left
				display: none
	.safety
		padding-top: 20px
		padding-bottom: 20px
		&__text
			&-title
				text-align: center
				width: 260px
				margin-left: auto
				margin-right: auto
			&-subtitle
				font-size: 16px
				text-align: center
		&__list
			&-item
				font-size: 14px
		&__line
			&_top
				display: none
	.assortment
		padding-top: 60px
		padding-bottom: 40px
		&__text
			&-title
				width: 220px
				margin-left: auto
				margin-right: auto
				h2
					font-size: 20px
					line-height: 130%
			&-description
				text-align: center
				margin-bottom: 25px
				width: 300px
				line-height: 130%
		&__image
			&-item
				margin-left: 20px
				&-2
					margin-left: 0
			&-text
				p
					font-size: 14px
					span
						font-size: 16px
	.manufacture
		&__text
			&-title
				width: 370px
				text-align: center
				margin-left: auto
				margin-right: auto
				h2
					font-size: 18px
					line-height: 130%
			&-subtitle
				display: none
	.delivery
		padding-bottom: 0
		&__title
			text-align: center
			margin-bottom: 20px
			h2
				font-size: 18px
				line-height: 130%
		&__list
			padding-left: 60px 
			&-item
				font-size: 14px
				&::before
					background: transparent url('../img/manufacture/mark-manufacture_media.svg') center no-repeat
					border: none
	.comfort
		padding-top: 60px
		padding-bottom: 60px
		&__title
			width: 330px
			h2
				font-size: 18px
		&__image
			width: 80%
			margin-left: auto
			margin-right: auto
			&-text
				h3
					font-size: 22px
				&_bottom
					width: 70%
					bottom: -70px
					font-size: 14px
		&__line
			&_left
				display: none
			&_bottom
				display: none
	.catalog
		background-color: #FFF
		&__text
			&-title
				text-align: center
				width: 330px
				margin-left: auto
				margin-right: auto
				h2
					font-size: 18px
					line-height: 23px
			&-description
				font-size: 16px
		&__form
			box-shadow: 0 0 30px #eceff1
			padding: 20px
			z-index: 1
			position: relative
			background-color: #FFF 
			&-select
				font-size: 12px
				padding-top: 5px
				padding-left: 5px
				padding-bottom: 5px
			&-input
				margin-left: 0
				padding-bottom: 2px
				font-size: 14px
			&-button
				font-size: 14px
				padding-top: 10px
				padding-bottom: 10px
				margin-top: 15px
		&__checkbox
			&-text
				font-size: 8px
		&__image
			&-media
				max-width: 100%
				margin-bottom: -70px
				bottom: 50%
				z-index: 0
	.prepared
		padding-top: 40px
		padding-bottom: 0
		&__text
			text-align: center
			&-title
				margin-bottom: 10px
				max-width: 80%
				margin-left: auto
				margin-right: auto
				h2
					font-size: 18px
					line-height: 23px
					margin-bottom: 10px
			&-description
				font-size: 16px
		&__line
			&_top
				display: none
			&_left
				display: none
	.change
		padding-top: 60px
		padding-bottom: 60px
		&__text
			&-title
				width: 250px
				margin-left: auto
				margin-right: auto
				h2
					font-size: 18px
					line-height: 130%
		&__line
			&_top
				display: none
			&_right
				display: none
			&_bottom
				display: none
		&__image
			margin-bottom: 20px
			&-before
				&::before
					left: 0
					top: unset
					bottom: 0  
			&-after
				&::after
					top: unset
					bottom: 0  
	.completed
		padding-top: 0
		padding-bottom: 70px
		&__line
			&_top
				display: none
			&_right
				display: none
			&_left
				display: none
		&__text
			width: 80%
			margin-left: auto
			margin-right: auto
			&-title
				width: 225px
				margin-left: auto
				margin-right: auto
				h2
					font-size: 18px
			&-subtitle
				margin-bottom: 10px
				h3
					font-size: 16px
		&__slider
			&-numbers
				left: 50%
				-webkit-transform: translateX(-50%) 
				-moz-transform: translateX(-50%) 
				-ms-transform: translateX(-50%) 
				-o-transform: translateX(-50%) 
				transform: translateX(-50%) 
				width: 35px
				height: 23px
				margin-top: 20px
				&-item
					font-size: 30px
					font-family: $heuristica-bold
	.communication
		padding-top: 0
		padding-bottom: 60px
		&__text
			margin-bottom: 40px
			&-title
				width: 220px
				margin-left: auto
				margin-right: auto
				h2
					font-size: 18px
					line-height: 130%
		&__list
			&-text
				max-width: 80%
			&-title
				font-size: 16px
				text-align: left
			&-item
				font-size: 14px
				width: 280px
		&__form
			padding: 20px
			h3
				font-size: 16px
				line-height: 20px
			h4
				font-size: 14px
				line-height: 18px
			input
				margin-right: 2px
				max-width: unset
				width: 48%
			button
				max-width: unset
				width: 98% 
	.discount
		padding-top: 0	
		&__form
		&__getting
			img
				position: unset
				max-width: 100% 
		&__text
			&-title
				text-align: center
				font-size: 18px
		&__list
			&-title
				font-size: 16px
				font-family: $montserrat-italic
				color: $text-color-dark  
			&-item
				font-size: 14px
				line-height: 18px 
		&__form
			background-color: #eceff1
			padding: 20px
			h3
				font-size: 16px
				line-height: 20px			   
				color: $title-color
				font-family: $montserrat-semibold
				margin-bottom: 10px 
			h4
				font-size: 14px
				line-height: 18px
			input
				margin-right: 2px
				max-width: unset
				width: 48%
				border: none
			button
				max-width: unset
				width: 98% 
	.calculation
		padding-top: 200px
		&__content
			position: relative
		&__media
			&-tel
				position: absolute
				top: 0
				z-index: -1
				margin-top: -30%
		&__text
			text-align: center
			&-title
				max-width: 80%
				margin-left: auto
				margin-right: auto 
				width: 220px
				h2
					font-size: 18px
					line-height: 130%
			&-description
				font-size: 16px
				line-height: 130%
	.cooperation
		padding-top: 60px
		padding-bottom: 60px
		&__text
			img
				max-width: 100%
			&-title
				margin-bottom: 10px
				h2
					font-size: 16px
					line-height: 130%
			&-description
				font-size: 14px
				text-align: center
				line-height: 18px
				margin-bottom: 10px
				width: 245px
				margin-left: auto
				margin-right: auto
		&__list
			&-text
				margin-top: 20px
			&-title
				text-align: center
				font-size: 15px
				line-height: 20px
				margin-bottom: 10px
				font-family: $montserrat-regular
				width: 295px
			&-item
				font-size: 13px
				line-height: 18px
		&__form
			background-color: #eceff1
			padding: 20px
			h3
				font-size: 16px
				line-height: 20px
				color: $title-color
			h4
				font-size: 14px
				line-height: 18px
				margin-bottom: 20px
			input
				margin-right: 2px
				max-width: unset
				width: 48%
				border: none
			button
				max-width: unset
				width: 98% 
		&__request
			margin-right: auto
			margin-left: auto
	.contact
		&__block
			&-address
				display: none
				&-media
					padding: 20px 80px
					box-shadow: 0 0 30px #eceff1
					background-color: #eceff1
					h4
						text-align: center
						color: $text-color-dark
						font-family: $heuristica-bold
						font-size: 18px
						margin-bottom: 20px
		&__address
			span
				color: #212121
				font-family: $montserrat-semibold
				font-size: 16px
			p
				color: #212121
				font-family: $montserrat-regular
				font-size: 14px
		&__time
			span
				color: #212121
				font-family: $montserrat-semibold
				font-size: 16px
			p
				color: #212121
				font-family: $montserrat-regular
				font-size: 14px
			a
				text-decoration: none
				color: $text-color-dark
				font-family: $montserrat-regular
				font-size: 14px 
		&__tel
			color: #212121
			font-family: $montserrat-medium
			font-size: 14px
		&__mail
			color: #212121
			font-family: $montserrat-medium
			font-size: 14px
	.footer
		&__text
			&-subtitle
				display: none
		&__line
			left: unset 
			bottom: unset 
			width: 100%
			margin-left: 0
			background-color: #a1d1d1
		&__tel
			display: none
		&__address
			&-tel
				color: #ffffff
				font-family: $montserrat-medium
				font-size: 12px
				text-decoration: underline
		&__schedule
			font-size: 12px
		&__social
			&-icons
				a
					margin-right: 5px	
	.modal
		&__form
			width: 450px
			top: 100px
		&__button
			margin-top: 10px
			width: 70%
		&__close
			right: 0
			top: -15px
			font-size: 34px
			color: #289A96 
	.thanks
		&__content
			width: 450px
			top: 100px
		&__close
			right: 0
			top: -15px
			font-size: 34px
@media (max-width: 480px)
	.header
		padding-bottom: 0
		&__text
			&-title
				font-size: 14px
		&__download
			&-text
				font-size: 12px
				line-height: 110% 
	.main
		padding-top: 15px	
	.backlight
		&__slider
			&-item
				img
					padding-left: 9px
		&__advantages
			h2
				line-height: 130%
	.delivery
		&__list
			width: 300px
			padding-left: 20px
			&-item
				font-size: 14px
	.catalog
		&__text
			&-title
				width: 300px
				h2
					font-size: 16px
		&__checkbox
			&-text
				font-size: 5px
	.comfort
		&__title
			h2
				font-size: 18px
				line-height: 130%
		&__image
			&-text
				&_bottom
					bottom: -85px
	.change
		&__text
			&-title
				h2
					font-size: 18px
					line-height: 130%
	.assortment
		&__text
			&-title
				h2
					font-size: 20px
					line-height: 130%
			&-description
				line-height: 140%
		&__button
			font-size: 12px
	.manufacture
		&__text
			&-title
				h2
					line-height: 130%
	.delivery
		&__title
			h2
				line-height: 130%
	.cooperation
		&__list
			&-title
				max-width: 480px
				width: unset  
	.completed
		&__text
			&-title
				width: 240px
				h2
					font-size: 18px
					line-height: 130%
			&-subtitle
				h3
					font-size: 16px
	.communication
		&__text
			&-title
				h2
					font-size: 18px
	.discount
		&__text
			&-title
				font-size: 18px
	.calculation
		&__text
			&-title
				h2
					font-size: 18px
					line-height: 130%
			&-description
				font-size: 16px
				line-height: 130%
	.modal
		&__form
			width: 300px
			top: 50px
		input
			margin-bottom: 10px
		&__title
			margin-bottom: 10px
			font-size: 22px
		&__subtitle
			font-size: 14px
		
	.thanks
		&__content
			width: 300px
			top: 50px
		&__title
			font-size: 24px
		&__subtitle
			font-size: 18px
@media (max-width: 400px)
	.header
		&__text
			margin-top: 0
			&-title
				line-height: 16px
		&__download
			&-text
				line-height: 16px
	.main
		&__title
			margin-bottom: 11px
			h1
				font-size: 18px	
				line-height: 130%
		&__subtitle
			width: 237px
			margin-top: 0
			h3
				font-size: 15px	
	.backlight
		&__list
			&-item
				font-size: 12px	
		&__advantages
			h2
				line-height: 130%
	.advantages
		&__text
			&-title
				width: unset 
				h2
					font-size: 18px
		&__list
			width: unset 
			&-title
				font-size: 14px
				width: 220px
			&-item
				font-size: 12px					
	.safety
		&__text
			&-title
				width: 235px
				h2
					font-size: 18px
			&-subtitle
				font-size: 12px
		&__list
			width: 100%
			&-title
				font-size: 12px
			&-item
				font-size: 12px	
				width: 200px			
	.assortment
		&__text
			&-title
				width: 235px
				margin-left: auto
				margin-right: auto
				h2
					font-size: 20px
			&-description
				font-size: 12px
				width: 220px
				line-height: 140%
		&__image
			img
				width: 37px
			&-text
				p
					font-size: 12px
					span
						font-size: 14px
		&__button
			margin-bottom: 10px
			&s
				width: 181px				
	.manufacture
		&__text
			&-title
				width: 290px
				h2
					font-size: 16px
					line-height: 130%
	.delivery
		&__title
			h2
				font-size: 18px
				line-height: 130%
		&__list
			width: 270px
			&-item
				font-size: 12px
				line-height: 150%
		
	.comfort
		&__title
			width: 250px
			h2
				font-size: 18px
				line-height: 130%	
		&__image
			&-text
				h3
					font-size: 16px
				&_bottom
					font-size: 12px
					bottom: -85px
					width: 85%
	.catalog
		&__text
			&-title
				width: 237px
				margin-left: auto
				margin-right: auto
				h2
					font-size: 16px
	.prepared
		&__text
			&-title
				width: 250px
				max-width: unset 
				h2
					font-size: 18px
					line-height: 130%
			&-description
				font-size: 16px
				line-height: 130%
	.change
		&__text
			&-title
				h2
					font-size: 18px
					line-height: 130%
	.completed
		&__text
			width: 100%
			&-title
				width: 250px
				h2
					font-size: 18px
					line-height: 130%
			&-subtitle
				h3
					font-size: 16px
					line-height: 130%
					
	.communication
		&__text
			&-title
				margin-bottom: 10px
				h2
					font-size: 16px
					line-height: 130%
		&__list
			&-title
				font-size: 14px
			&-item
				font-size: 12px
				width: 240px
		&__form
			input
				font-size: 12px
				margin-bottom: 8px
				width: 100%
	.discount
		&__text
			&-title
				font-size: 17px
		&__list
			&-title
				font-size: 14px
			&-item
				font-size: 12px
		&__form
			input
				font-size: 12px
				margin-bottom: 8px
				width: 100%
	.calculation
		&__text
			&-title
				max-width: 100%
				h2
					font-size: 18px
					line-height: 130%
			&-description
				font-size: 12px
				line-height: 130%
				width: 210px
		&__button
			font-size: 16px
	.cooperation
		&__list
			&-title
				font-size: 14px
			&-item
				font-size: 12px
		&__form
			input
				font-size: 12px
				margin-bottom: 8px
				width: 100%
		&__text
			&-description
				width: 180px
				font-size: 12px
	.contact
		&__block
			&-address
				&-media
					h4
						font-size: 16px
		&__address
			span
				font-size: 14px
			p
				font-size: 12px
		&__time
			span
				font-size: 14px
			p
				font-size: 12px
			a
				font-size: 12px
				
	.footer
		&__address
			font-size: 10px
			a
				font-size: 12px
		&__schedule
			font-size: 10px
			